#####  Parameters ####
# the bot's general logfile path ( indicate where the bot should save it's logfile )
BOTLOG=logs/BanBot.log
# log backup path
BACKUPPATH=backup/
###############################
#Server 1 parameters: ip, port, rcon password, and log file.
IP=132.84.6.123
PORT=27960
RCONPASS=rconpass
LOGPATH=.q3a/q3ut4/games.log
BOTLOGPATH=asd.log
#end
